<launch>

	<param name="tilt_laser_topic" value="scan_tilt"/>

	<node pkg="tf" type="static_transform_publisher" name="base_link_to_map_center" args="1.5 0.0 0.0 0.0 0.0 0.0 /base_link /map_center 40" />
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_read_map_center" args="5.0 0.0 0.0 0.0 0.0 0.0 /base_link /read_map_center 40" />

	<node pkg="urg_process" type="laser_point_to_elevation_map_ver2" name="laser_point_to_elevation_map" output="screen"/>

	<!--<node pkg="urg_process" type="laser_scan_to_point_cloud" name="laser_to_point" output="screen">
		<param name="tilt_laser_topic" value="scan_rocker"/>
	</node>ロッカーを使わないためコメントアウト(11/2)-->

	<node pkg="urg_process" type="laser_scan_to_point_cloud" name="laser_to_point2" output="screen">
		<param name="tilt_laser_topic" value="scan_tilt"/>
		<param name="height_compensation_value" value="-0.03" />
	</node>
	<!--<node pkg="urg_process" type="pointcloud2_to_pointcloud" name="pointcloud2_to_pointcloud" output="screen" />-->

	<node pkg="suzuki_demo" type="avoid_predicted_accident_with_users_operation_ver1_2.py" name="avoid_predicted_accident_with_users_operation" output="screen"/>
	<node pkg="seniorcar_test" type="seniorcar_path_marker_pub" name="seniorcar_path_marker_pub" output="screen"/>

	<!--<node pkg="suzuki_demo" type = "detect_front_object.py" name ="detect_front_object" />-->

	<node pkg="rviz" type="rviz" name="rviz_predict" args="-d /home/ishikawa/catkin_ws/src/ultimate_seniorcar/launch_xml/elevation_map_visualize.rviz"/>

</launch> 
