<launch>

	<arg name="steer_motor_port"   value="/dev/ttyUSB0" />
	<arg name="canusb_port" value="/dev/ttyUSB1" />

	<!-- 各種センサへの接続 -->
	<param name="canusb_port" value="$(arg canusb_port)"/>
    	<node pkg="ultimate_seniorcar" type="canusb_connecter.py" name="can_usbconnecter"/>
    
   	<param name="steer_motor_port" value="$(arg steer_motor_port)" />
	<node pkg="ultimate_seniorcar" type="steer_motor_controller_connecter_div.py" name="steer_motor" output="screen"/>

	<node pkg="keyboard" type="keyboard" name="keyboard"/>
	<node pkg="ultimate_seniorcar" type="keyboard_to_seniorcar_command.py" name="keyboard_to_seniorcar_command"/>
	<node pkg="ultimate_seniorcar" type="target_steer_angle_to_motor_devision.py" name="target_steer_angle_to_motor_devision" output="screen"/>

	<!--<node pkg="sensor_utility" type="target_and_state_output_console.py" name="output_console" output="screen"/>-->

</launch>
